<div class="movie">
  <div>
    <img
    src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"
    alt=""
    />
    <h4>Guardians of the Galaxy Vol. 2</h4>
    <p>
      An orphaned boy enrolls in a school of wizardry, where he learns the truth
      about himself, his family and the terrible evil that haunts the magical
      world. An orphaned boy enrolls in a school of wizardry, where he learns the
      truth about himself, his family and the terrible evil that haunts the
      magical world.
    </p>
    <section class="info">
      <div>
        <h1>7.6</h1>
        <h6>Rating</h6>
      </div>
      
      <div>
        <h1>136 min</h1>
        <h6>Runtime</h6>
      </div>
      <div>
        <h1>2017</h1>
        <h6>Released</h6>
      </div>
    </section>
  </div>
</div>
